.img-avatar {
  width: 170px;
  border-radius: 50%;
}

.col_avatar {
  min-height: 182px;
}

.top-20 {
  margin-top: 20px;
}

.text_floating {
  font-size: 18px;
}

.icon_profile {
  width: 80px;
  height: 80px;
}

.btn_profile {
  background-color: #0f4c94;
  color: #ffffff;
}

.icon_fb {
  color: rgb(66, 103, 178) !important;
}
