<ion-content class="pop_product">
  <ion-list>
    <ion-item class="pointer" (click)="editar()">
      <ion-icon name="create-outline" color="success"></ion-icon>&nbsp;&nbsp;
      <ion-label color="success">Editar</ion-label>
    </ion-item>

    <ion-item class="pointer">
      <ion-icon name="pause-circle-outline" color="medium"></ion-icon>&nbsp;&nbsp;
      <ion-label color="medium">Pausar</ion-label>
    </ion-item>

    <ion-item class="pointer">
      <ion-icon name="play-circle-outline" color="success"></ion-icon>&nbsp;&nbsp;
      <ion-label color="success">Reanudar</ion-label>
    </ion-item>

    <ion-item lines="none" class="pointer">
      <ion-icon name="trash-outline" color="primary"></ion-icon>&nbsp;&nbsp;
      <ion-label color="primary">Eliminar</ion-label>
    </ion-item>
  </ion-list>
</ion-content>